$primary: royalblue;
$secondary: limegreen;
$accent: orangered;
$white: snow;

$sm-space: 8px;
$md-space: 16px;
$lg-space: 24px;
$xl-space: 36px;

$transition: 200ms ease-in-out;
$shadow: 0 0 4px 0 $accent;
$radius: 4px;